input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-top: 6px;
  margin-bottom: 6px;
  font-size: 14px;
  font-family: Tahoma;
}
  
input[type=submit] {
  background-color: #c7b1b4;
  padding: 12px 40px;
  border: none;
  text-align: center;
  border-radius: 4px;
  font-weight: bold;
  font-size: 14px;
  font-family: Tahoma;
}
  
input[type=submit]:hover {
  transform: scale(1.1);
}
  
.container {
  display: grid;
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  padding: 50px; 
  color: #ffffff;
  font-size: 16px;
  font-family: Tahoma;
  margin-left: 5%;
}

@media only screen and (max-width: 600px) {

.container {
  grid-column: 1 / 3;
  grid-row: 2 / 3;
  padding: 60px; 
  margin-right: 10%;
}