.hamburger {
    display: block;
    text-align: right;
    color: white;
    padding: 50px;
}

.menu {
    display: none;
}

.hamburger:hover .menu {
    display: block;
}

.menu ul a {
    list-style-type: none;
    font-family: Tahoma;
    font-weight: 200;
    font-size: 20px;
    text-decoration: none;
    color: #ffffff;
}