.navbar {
	display: flex;
	align-items: center;
	justify-content: space-around;
	grid-column: 2 / 3;
	grid-row: 1 / 2;
}
.navbar a {
	text-decoration: none;
	color: #ffffff;
	font-size: 20px;
}
.navbar a:hover {
	transform: scale(1.1);
}