.portfolio-container {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    width: 60%;
    height: 70%;
    justify-self: center;
} 

.links a {
    list-style-type: none;
    font-family: Tahoma;
    font-weight: 200;
    font-size: 18px;
    text-decoration: none;
    color: #3b3b3b;
}

@media only screen and (max-width: 600px) {
.portfolio-container {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
    width: 50%;
    height: 60%;
    text-align: center;	
    justify-self: center;
    margin-right: 20%;
}
}