<header>
  <div class="logo-container">
    <a href="index.html"><img src="images/logo.png" class="logo" alt="Ruth McIlwaine Logo"></a>
  </div>

  <nav class="navbar">
    <a href="about-me.html">About Me</a>
    <a href="skills.html">Skills</a>
    <a href="portfolio.html">Portfolio</a>
    <a href="contact.html">Contact</a>
  </nav>

  <div class="menu-container">
    <button class="hamburger">
      <i class="fas fa-bars fa-2x"></i>
    </button>
    <div class="menu">
      <ul>
        <li><a href="about-me.html">About Me</a></li>
        <li><a href="skills.html">Skills</a></li>
        <li><a href="portfolio.html">Portfolio</a></li>
        <li><a href="contact.html">Contact</a></li>
      </ul>
    </div>
  </div>
</header>

<script src="js/script.js"></script>
